*.psd
*.pdf
/test
/spec
/log
/tmp
/README.md
/INSTALL.md
.DS_Store
.env
./.DS_Store
/.DS_Store
__pycache__/.DS_Store
*/.git
./.git*
*.log
.git
./.git
*/.git/*
/.git
!/.slugignore
./.slugignore
/.slugignore
./.ipynb_checkpoints
/.ipynb_checkpoints/
/.ipynb_checkpoints/*
venv/
.venv
__pycache__/
lib/
