appdirs==1.4.3
appnope==0.1.0
attrs==19.3.0
audioread==2.1.8
decorator==4.4.0
defusedxml==0.6.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
ffprobe-python==1.0.3
Flask==1.1.1
Flask-Bootstrap==3.2.0.2
Flask-Compress==1.4.0
Flask-Mail==0.9.1
Flask-WTF==0.14.2
future==0.18.2
google-api-core==1.15.0
google-cloud-core==1.1.0
google-cloud-speech==1.3.1
google-cloud-storage==1.24.1
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
googletrans==2.4.0
grpcio==1.26.0
html2text==2020.1.16
html5lib==1.0.1
imagesize==1.2.0
importlib-metadata==1.4.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.1
jieba==0.41
Jinja2==2.10.3
joblib==0.14.1
jsonschema==3.2.0
lazy-object-proxy==1.4.3
llvmlite==0.31.0
lxml==4.4.2
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.1.1
mccabe==0.6.1
mechanize==0.4.2
mir-eval==0.5
mistune==0.8.4
more-itertools==8.1.0
murmurhash==1.0.2
mutagen==1.43.0
nose==1.3.7
numba==0.47.0
numpy==1.15.1
packaging==20.3
pandas==0.24.2
pandocfilters==1.4.2
parso==0.5.1
pathspec==0.7.0
pexpect==4.7.0
Pillow==7.0.0
Pint==0.10.1
plac==0.9.6
plotly==4.5.0
preshed==2.0.1
prompt-toolkit==2.0.9
protobuf==3.11.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pydub==0.23.1
Pygments==2.4.2
pyparsing==2.4.0
pyrsistent==0.15.7
PySide2==5.11.1
pytz==2019.1
PyYAML==5.1.2
pyzmq==18.0.2
requests==2.22.0
resampy==0.2.2
retrying==1.3.3
scikit-learn==0.22.1
scipy==1.1.0
seaborn==0.9.0
simplejson==3.6.0
six==1.12.0
sklearn==0.0
sounddevice==0.3.14
SoundFile==0.10.3.post1
soupsieve==1.9.5
spacy==2.1.9
SpeechRecognition==3.8.1
srsly==1.0.1
urllib3==1.25.7
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wordcloud==1.6.0
WTForms==2.2.1
xattr==0.9.7
xlrd==1.2.0
youtube-dl==2020.1.15
zipp==1.0.0
