uwsgi==2.0.18
flask==1.1.1
gunicorn==20.0.4
Flask-Bootstrap==3.2.0.2
simplejson==3.6.0
Pillow==7.0.0
youtube-dl==2020.1.15
audioread==2.1.8
ffprobe-python==1.0.3
Flask==1.1.1
Flask-Bootstrap==3.2.0.2
Flask-Compress==1.4.0
Flask-Mail==0.9.1
Flask-WTF==0.14.2
google-auth==1.10.0
google-api-core==1.15.0
google-cloud-core==1.1.0
google-cloud-speech==1.3.1
google-cloud-storage==1.24.1
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
googletrans==2.4.0
gunicorn==20.0.4
html2text==2020.1.16
html5lib==1.0.1
imagesize==1.2.0
itsdangerous==1.1.0
jieba==0.41
Jinja2==2.10.3
joblib==0.14.1
jsonschema==3.2.0
llvmlite==0.31.0
lxml==4.4.2
MarkupSafe==1.1.1
mathparse==0.1.2
mccabe==0.6.1
mechanize==0.4.2
mir-eval==0.5
mistune==0.8.4
more-itertools==8.1.0
mutagen==1.43.0
nose==1.3.7
pandocfilters==1.4.2
Pint==0.10.1
plotly==4.5.0
requests==2.22.0
resampy==0.2.2
retrying==1.3.3
sounddevice==0.3.14
SoundFile==0.10.3.post1
SpeechRecognition==3.8.1
urllib3==1.25.7
Werkzeug==0.16.0
wordcloud==1.6.0
WTForms==2.2.1
PyAudio==0.2.11