body {
  font-family: "Helvetica", monospace;
  margin: 0;
  padding: 0;
  box-sizing: contentpip-box;
  font-size: 1rem;
  background-image: url("/static/img/turntable-1109588_1920.jpg")
}


.container {
  background-color: rgba(204, 204, 198, 0.7);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 11.5%;
}


/* Change position of Select Language button 
#form1 {
  position: absolute;
  right: 90px;
  bottom: 70%;
}  
#myText {
  border: solid 1px black;
  min-width:100px;
  padding: 5px;
  display: inline-block;
 }
 
#myText:focus{
   outline:0;
 } */
 
/*Top navigation bar which contains SPEAK, Home, About, Record, Upload button*/
header {
  /*background-image: url('https://1vynswmg7x-flywheel.netdna-ssl.com/wp-content/uploads/2018/02/huso-sound-background-02.png');
  background-position: 50% 52%;*/
  height: 100px;
  width: 100%;
  opacity: .9;
  font-family: "Courier-New"
  font-size: 1.2em;
  /*THIS IS THE PART WHERE YOU DETERMINE SIZE OF A HEADER margin-bottom: 20px;*/
}

/* Get the Home, About, Upload, Record buttons to the top of the header*/
.menu {
  float: right;
  /*Where to move the Home, About, Upload, Record, words from the very top of page*/
  margin-top: 15px;
}

/* turn into horizonal navigations*/
.menu li { display: inline;}

/* put space in between each navigation bar points */
.menu li + li {
  margin-left: 50px;
}

/*Change color of Home, About, Upload, Record buttons */
.menu li a {
  /*color: #444;*/
  color: #fff;
  text-decoration: none;
}

/*Change color of Home, About, Upload, Record buttons on hover */
ul li a:hover {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  /*background-color: #94a094;*/
}

/*Change header of SPEAK header logo*/
header h1.logo {
  margin: 0;
  font-size: 1.9em;
  color: #fff;
  /*Make Speak into SPEAK */ text-transform: uppercase;
  /*Put SPEAK logo to the left side of website*/ float: left;
}

canvas {
  width: 100%;
  height: 60px;
  display: block;
  margin-bottom: 0.5rem;
}

html, body {
  height: 100%;
  margin:0; 
  padding:0;
}

/*.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}*/

h1, h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}

/*Direction for Records button. Directions for Recording the Audio. The text on top of media recorder bar*/
.directions {
  font-size: 2.0rem; /*size of directions*/
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #0088cc;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

#file {
  text-align: center;
  margin: auto;
}


.btn-file {
  position: relative;
  overflow: hidden;
}


/* Edit the Submit Button in Upload section*/
.btn-file input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: #0088cc;
  cursor: inherit;
  display: block;
}

/* wraps around the text for Home, About, etc*/
/*wraps text for Record and About page*/
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: auto;
}

.containerz {
  background-color: white;
  overflow-y:auto;
}

.wrappers {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-x: auto;
}

/*Center header 1 text (Upload Recording, Speech Recording, etc)*/
h1, h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*The code in the example above is the standard code used in both vertical, and horizontal navigation bars.*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}





/*RECORD*/

/*This centers the display of the Recording directions*/
.top-display {
  font-size: 1.5rem;
  text-align: center;
  padding: 3.0rem 0.5rem 2.0rem 0.5rem;
}



/*How BIG should Record buttons be?*/
#buttons button {
  font-size: 2rem;
  padding: 1rem;
  /*width: calc(33% - 0.25rem);*/
}

/*Change the look of the buttons for Recording*/
button[value="babe"] {
  font-size: 2rem;
  background: #0088cc;
  text-align: center;
  color: white;
  border: none;
  transition: all 0.2s;
  padding: 0.5rem;
}

/*Change color of button when mouse hovers over it */
button[value="babe"]:hover:enabled, button:focus:enabled {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #0ae;
}

button[value="babe"]:active:enabled {
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
  transform: translateY(2px);
}*/

/*For disabled buttons(Upload, Pause, or Stop), GRAY it out!*/
button[value="babe"]:disabled {
  background: #888888;
}

/*Change the background of delete button to Red*/
button.delete {
  background: #f00;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

/*gets rid of checkbox button for question mark (?) */
input[type=checkbox] {
  position: absolute;
  top: -100px;
}
/* Hides the information from question mark ? */
aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease-out;
  background-color: #efefef;
  padding: 1rem;
}

aside p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

aside a {
  color: #666;
}

/* Toggled State of information box-- once ? is clicked, shows information*/
input[type=checkbox]:checked ~ aside {
    transform: translateX(0);
}
  
/* Cursor when clip name is clicked over */
.clip p {
    cursor: pointer;}

/* Adjustments for wider screens for the recording, media web recorder, record buttons and such */
@media all and (min-width: 500px) {
/* Don't take all the space as readability is lost when line length
       goes past a certain size */
.wrapper {
width: 100%;
max-width: 700px;
margin: 0 auto;
    }

form {
  width: 90%;
max-width: 700px;
margin: 0 auto;
}
  }

.info-display {
    border-style: solid;
}

footer {
    font-family: Helvetica;
    color: #222;
    /*That background color of the footer storing Privacy and Terms*/
    background-color: rgb(242, 242, 242);
    width: 100%;
    bottom: 0;
    position: fixed;
    padding-left: 30px;
}

.info-display {
  border-style: solid;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content for "LEARN MORE"-- About and Thanks*/
.dropdown-content {
  display: none;
  position: absolute;
  /*The background color behind the ABOUT and THANKS button when hovering over LEARN MORE
  background-color: white; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown- ABOUT and THANKS */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  text-align: left;
  display: block;
}

/* Change color of ABOUT and THANKS buttons*/
.dropdown-content a:hover {background-color: #dfdbdb;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;} 

/*Change color of Learn More button when hovering over it */
.dropdown:hover .dropbtn {box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1)}

 Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {background-color: black;}

.dropbtn {
  text-decoration: none;
  border: none;
  padding: 1px;
  text-align:center;
  color: white;
}


/* Contact Us form */
form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}

form input#firstname,
form input#lastname,
form input#email,
form input#subject, 
form input#audiofile{
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}
 
form textarea#message {
  width: 500px;
  height: 100px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1em;
}
 
form input#submit {
  display: block;
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #d8d8d8;
  padding: 10px; 
  font-weight:bold; 
  text-align: center; 
  color: #000000; 
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}
 
form input#submit:hover{
  cursor: pointer;
  border:1px solid #c1c1c1; 
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
}

table {
  table-layout: auto;
  width: 150px;
  width: 100%;   
}

th{
  border-style: solid;
  border-width: 1px;
  border-color: #BCBCBC;
  word-wrap: break-word;
}

img { display:block; }

/*Create side by side wordcloud and bar graph image in Uploads */
.maintainer {
  display: flex;

}

/* make YouTube Text box longer */
input[type=text] {
  width: 500px;
}







/*CHAT BOX */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form  */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}





/* About Us */
*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.cappa {
  padding: 0 16px;
}

.cappa::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.file-field.big .file-path-wrapper {
  height: 3.2rem; }
.file-field.big .file-path-wrapper .file-path {
  height: 3rem; 
}

#bimp {
  color: black 
}

/* RESULT button in Uploads*/
.bagels {
  position: relative;
  background-color: #4CAF60;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.bagels:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.bagels:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* For the LANGUAGE SELECTION for files */

.custom-select {
  position: relative;
  font-family: Arial;
}

/*This causes the button to shrink miserably LOL */
.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #6699cc;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #6699cc;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}




/* FOR THE FILE DRAG AND DROP */
legend
{
	font-weight: bold;
	color: #333;
}

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}


img
{
	max-width: 100%;
}

pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}

#messages
{
	padding: 0 10px;
	margin: 1em 0;
	border: 1px solid #999;
}

#progress p
{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("progress.png") 100% 0 repeat-y;
}

#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}


#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #DDF;
  color: #000;
}