<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
    <link href="static/css/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> About Speech Performance End Analyzer Kombucha (SPEAK) </h1>
    <p> SPEAK is a micro web framework written in Python.</p>
    <p> SPEAK is an application that can take in pre-recorded audio files (FLAC, mp3, etc)</p>
    {% endblock %}
</body>
</html>