<!DOCTYPE html>
<html lang="en-us" dir="ltr">
{% extends "template.html" %}
{% block page_content %}

<head>

  <meta charset="utf-8">
  <title>Contact Us</title>
  <meta name="viewport" content="width=device-width">
  <link href="static/css/app.css" rel="stylesheet" type="text/css">
  <!--<script src="static/translate.js"></script>-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
</head>

<body>
  <div class="wrapper">
    <h2>Contact</h2>

    {% if success %}
    <p>Thank you for your message. We'll get back to you shortly.</p>

    {% else %}

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.firstname.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.lastname.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% if form.email.errors %}
    <ul style="color: red;">
      {% for message in form.email.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
    </ul>
    {% endif %}

    {% if form.subject.errors %}
    <ul style="color: red;">
      {% for message in form.subject.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
    </ul>
    {% endif %}

    {% for message in form.message.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.audiofile.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <div class="welcome-display">
      <form action="{{ url_for('contact') }}" enctype="multipart/form-data" method="POST">
        {{ form.hidden_tag() }}

        {{ form.firstname.label }}
        {{ form.firstname(required='required') }}

        {{form.lastname.label }}
        {{ form.lastname(required='required') }}

        {{ form.email.label }}
        {{ form.email(required='required') }}


        {{ form.subject.label }}
        {{ form.subject(required='required') }}

        {{ form.message.label }}
        {{ form.message(required='required') }}

        {{ form.audiofile.label }}
        {{ form.audiofile(required='required') }}

        {{ form.submit }}
        <br></br>
    </div>
    </form>
    {% endif %}
    {% endblock %}
</body>

</html>