<!DOCTYPE html>
<html lang="en-us" dir='ltr'>
  {% extends "template.html" %}
  {% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Speech Recording</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <script type="text/javascript">
    var csrf_token = "{{ csrf_token }}";
  </script>
  <body>
    <center><p id="timer" style="display: block;"><font size ="20">00:00</font></p></center>
    <div class="wrapper">
      <h1>Speech Recording</h1>
      <section class="top-display">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <div class="welcome-display">
        <div class="directions">
          Press Record to start.
          <br/>
          Record yourself in the box below.
          <br/>
          Press Stop to stop recording, and you will be able to upload the recordings.
        </div>
        <div class="progress-display">
        </div>
        <div class="info-display">
        </div>
      </section>

      <section class="main-controls">
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button value = "babe" onclick="revealMessage()" class="record" id = "recordButton">Record</button>
          <button value = "babe" class="pause" id="pauseButton" disabled>Pause</button>
          <button value = "babe" class="stop" id = "stopButton">Stop</button>
          <button value = "babe" class="upload" name = "file">Upload</button>
        </div>
      </section>
      <section class="sound-clips">

        <!-- This is left here as a helper for testing the style of the clips
        If you want to edit their appearance without having to record clips,
        uncomment this and reload the page. Remember to comment it again when done! 
        <article class="clip">
          <audio controls></audio>
          <p>Sample clip name</p>
          <button class="delete">Delete</button>
        </article>-->
      
      </section>

    </div>

    <label for ="toggle">?</label>
    <input type="checkbox" id="toggle">
    <aside>
      <h2>Info</h2>
      <p>
        "Web dictaphone is built using "
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator.getUserMedia">getUserMedia</a>
        "and the "
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder_API">MediaRecorder API</a>
        ", which provides an easier way to capture Media streams."
      </p>
      <p>Icon courtesy of <a href="http://findicons.com/search/microphone">Find Icons</a>. Thanks to <a href="http://soledadpenades.com/">Sole</a> for the Oscilloscope code!</p>
    </aside>
    <script src="scripts/mediaDevices-getUserMedia-polyfill.js"></script>
    <script src="static/scripts/app.js"></script>
    {% endblock %}
  </body>
</html>