<!DOCTYPE html>
<html lang="en-us">
  {% extends "template.html" %}
  {% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Open Speech Recording</title>	
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="wrapper">
        <h1>Open Speech Recording</h1>
      <section class="top-display">
        <div class="welcome-display">
          Thank you for contributing your audio file and recorded speech to this collection! Please share this
          page widely amongst your peers so we can create as comprehensive an archive as possible.
        </div>
        <div id="tableview">
          <br><br>Contributed by: </br></br>
          <table style="width:100%" align="left">
            <tr>
              <th><font face="Trattatello">Catherine Ng</font></th>
              <th><font face="Trattatello">Christopher Panlasigui</font> </th>
              <th><font face="Trattatello">Justin Gbadamassi </font></th>
              <th><font face="Trattatello">Jackson Lu </font></th>
              <th><font face="Trattatello">Fardous Sabnur </font></th>
            </tr>
            <tr>
              <th>
                <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO5WBdSf-FpcHriuH97ywTArkh2OEi6BskfjuL5PLUaNt7VRi4&s" alt="Me"style="display:block;"  >
              </th>
              <th>
                <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO5WBdSf-FpcHriuH97ywTArkh2OEi6BskfjuL5PLUaNt7VRi4&s" alt="Me" style="display:block;" >
              </th>
              <th>
                <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO5WBdSf-FpcHriuH97ywTArkh2OEi6BskfjuL5PLUaNt7VRi4&s" alt="Me"style="display:block;"  >
              </th>
              <th>
                <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO5WBdSf-FpcHriuH97ywTArkh2OEi6BskfjuL5PLUaNt7VRi4&s" alt="Me" style="display:block;" >
              </th>
              <th>
                <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO5WBdSf-FpcHriuH97ywTArkh2OEi6BskfjuL5PLUaNt7VRi4&s" alt="Me" style="display:block;" >
              </th>
            </tr>
            </table>
          </div>
      </section>

    </div>

    <a href="https://github.com/hunter-classes/winter-2020-codefest-submissions-the-procrastinators">
      <img style="position: absolute; bottom: 0; right: 0; border: 0;" src="https://media3.giphy.com/media/Y01wot3Bt9Bpdz8xvs/source.gif" width="200" height="200" alt="Fork me on GitHub" data-canonical-src="https://media3.giphy.com/media/Y01wot3Bt9Bpdz8xvs/source.gif">
    </a>

    <footer>
      <a href="https://www.google.com/intl/en/policies/privacy/">Privacy</a>
      <a href="https://www.google.com/intl/en/policies/terms/">Terms</a>
      <a href="/legal">Participant Agreement</a>
    </footer>
    {% endblock %}
  </body>
</html>