<html>
<head>
  <title>Uploads</title>
</head>

<body>
  <form method=POST enctype=multipart/form-data action="/upload_form">
  <input type=file name=file>
  <input type="submit" value="Submit">
  </form>
</body>


<form id="form1" runat="server">
  <div id="google_translate_element" style="display: none">
  </div>
  <script type="text/javascript">
      function googleTranslateElementInit() {
          new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');
      }
  </script>
  <script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
      type="text/javascript"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>
      function translateLanguage(lang) {

          var $frame = $('.goog-te-menu-frame:first');
          if (!$frame.size()) {
              alert("Error: Could not find Google translate frame.");
              return false;
          }
          $frame.contents().find('.goog-te-menu2-item span.text:contains(' + lang + ')').get(0).click();
          return false;
      }
  </script>
  <div style="float:right;" class="dropdown dropdown-lang">
    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="flag-icon flag-icon-us">Select Language</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <div class="dropdown-menu-col">
        <a href="javascript:;" id="English" onclick="translateLanguage(this.id);"><span>English </span>
        <img src="static/american_flag.png" alt="" style="width:15px;height:10px;"/></a>
        <a href="javascript:;" id="German" onclick="translateLanguage(this.id);"><span>Deutsch </span>
        <img src="static/germany_flag.png" alt="" style="width:15px;height:10px;"/></a>
        <a href="javascript:;" id="Italian" onclick="translateLanguage(this.id);"><span>Italiano</span>
          <img src="static/italy_flag.png" alt="" style="width:15px;height:10px;"/></a>
        <a href="javascript:;" id="Hindi" onclick="translateLanguage(this.id);"><span>हिंदी </span>
        <img src="static/india_flag.png" alt="" style="width:15px;height:10px;"/></a>
        <a href="javascript:;" id="French" onclick="translateLanguage(this.id);"><span>Français </span>
        <img src="static/french_flag.png" alt="" style="width:15px;height:10px;"/></a>
        <a href="javascript:;" id="Spanish" onclick="translateLanguage(this.id);"><span>Español</span>
        <img src="static/spain_flag.png" alt="" style="width:15px;height:10px;"/></a>
        </div>
        <div class="dropdown-menu-col">
        <a href="javascript:;" id="Russian" onclick="translateLanguage(this.id);"><span>Русский</span>
        <img src="static/russia_flag.png" alt="" style="width:15px;height:10px;"/></a>
        <a href="javascript:;" id="Filipino" onclick="translateLanguage(this.id);"><span>Tagalog</span>
        <img src="static/philippines_flag.png" alt="" style="width:15px;height:10px;"/></a>
        <a href="javascript:;" id="Bengali" onclick="translateLanguage(this.id);"><span>বাংলা</span>
        <img src="static/bangladesh_flag.png" alt="" style="width:15px;height:10px;"/></a>
    </div>
  </div>
</div>
</div>
</div>


li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}